html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
}

.footer .container {
  padding-right: 15px;
  margin-left: 15px;
}

.footer .container p {
  color: #c1c1c1;
}

.footer .container p a {
  color: inherit;
}

.register-page .oauth label,
.login-page .oauth label {
  text-align: right;
  padding-top: 4px;
}

.register-page .oauth a,
.login-page .oauth a {
  color: inherit;
}

.register-page .oauth i,
.login-page .oauth i {
  margin-right: 8px;
  font-size: 24px;
}

